.git
.github
node_modules
vendor
tests

# Laravel specific ignores
.env
.env.backup
.env.production
storage/
bootstrap/cache/*
database/*.sqlite

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# IDEs and OS files
.idea
.vscode
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
